.shopBanner{
    background-image: url(/img/banner/b1.jpg);
    padding: 84px;
    text-align: center;
    color: white;
    font-size: 25px;
}
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagination>a {
    margin: 3px;
    width: 40px;
    height: 40px;
    background: #0bba91;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    font-weight: 600;
    color: #010135;
}





.single-pro-image {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    padding: 30px 0;
}
.single-pro-image>.product-detail{
    width: 50%;
    padding: 10px 0 0 50px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
}
.main-product {
    width: 36%;
    display: flex;
    align-items: baseline;
    justify-content: start;
    flex-direction: column;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.brand-love {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 150px;
    z-index: 1;
    transition: all 0.9s ease-out;
}
.brand-love .b-love {
    /* background: rgba(255, 255, 255, 0.445); */
    backdrop-filter: blur(2px);
    height: 50px;
    width: 50px;
}
.brand-love .b-love>i{
    color: #c6c6c6;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    transition: all 0.4s ease;
} 
.brand-love .b-love:nth-child(1)>i:hover{color: rgb(255, 23, 62);}
.brand-love .b-love:nth-child(2)>i:hover{color: rgb(255, 115, 0);}
.brand-love .b-love:nth-child(3)>i:hover{color: #0bba91;}
  
.main-product>img:hover .brand-love{
    top: 20px !important;
}
.main-product>img{
    width: 100%;
}
.small-image-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}
.small-image-col {
    width: 23%;
    border: 1px solid white;
    margin-top: 2.6%;
    transition: all 0.5s ease-in-out;
    background: #f0f0f0;
}
.small-image-col:hover{
    border: 1px solid #0bba91;
}
.small-image-col>img{
    width: 100%;
}



h2.brand-title {
    font-size: 30px;
    
}
h3.brand {
    font-size: 20px;
    text-transform: capitalize;
}
.brand-price{
    margin-top: 10px;
}
.brand-size>button {
    flex: 0 0 30%;
    background: #19d1a2;
    border: none;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
}
.brand-size {
    padding: 6px 0;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.brand-quanitity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
}
.brand-quanitity>button {
    font-size: 17px;
    flex: 0 0 30%;
    border: none;
}
.brandAddtoCart {
    font-size: 20px;
    padding: 5px 17px;
    margin: 10px 0;
    border: 1px solid orange;
    background: orange;
    color: #fff;
}
.brandDescription {
    display: flex;
    flex-direction: column;
}

.brandDescription>h6 {
    font-size: 30px;
}
.brandRating {
    display: flex;
    flex-direction: column;
    background: #131413;
    padding: 14px;
    margin-top: auto;
    margin-bottom: 6px;
    width: 100%;
    color: #fff;
}
.brandRating>h2 {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: -6px;
}
.brandRatingProggres {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: unset;
}

.brandRatingProggres .rangesbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.rangesbar>label {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 2px;
}
.proggress {
    background: black;
    height: 10px;
    width: 90%;
    border-radius: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
    border: 1px solid orange;
}

.brandStar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
.brandStar>i{
    color: orange;
}

.in-proggress {
    height: 100%;
    position: absolute;
    left: 0;
    width: 30%;
    background:orange;
}



